<app-menu *ngIf="this.user.usu_perfil !== '7'"></app-menu>
<app-salir *ngIf="this.user.usu_perfil == '7'"></app-salir>

<div class="container-fluid">
    <div class="row justify-content-center" id="content">
        <div class="col-12">
            <button type="button" data-toggle="modal" data-target="#frmSede" class="btn btn-danger m-2" data-toggle="modal" data-target="#newClase">Nueva clase</button>
            <h1 class="text-center text-danger"> <button *ngIf="this.user.usu_perfil == '7'" [routerLink]="['/sedesGim/' + fkGim]" type="button" class="btn btn-danger" title="Atras" data-toggle="tooltip"><i class="fa fa-arrow-circle-left"></i></button>  Listado de clases </h1> 
            <ng-container>
              
                <div class="modal fade" id="newClase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-danger" id="exampleModalLabel">Nueva Clase</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                            <form [formGroup]="frmClase" (ngSubmit)="crearClase()">
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white ">Nombre</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" formControlName="nombre">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Descripcion</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control " formControlName="descripcion">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Dia de la semana</label>
                                        <div class="col-8">
                                            <select class="form-control" formControlName="dia">
                                                <option value="1">Lunes</option>
                                                <option value="2">Martes</option>
                                                <option value="3">Miercoles</option>
                                                <option value="4">Jueves</option>
                                                <option value="5">Viernes</option>
                                                <option value="6">Sabado</option>
                                                <option value="7">Domingo</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Hora inicial</label>
                                        <div class="col-8">
                                            <input type="time" class="form-control" formControlName="HoraInicio">
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Hora Final</label>
                                        <div class="col-8">
                                            <input type="time" class="form-control" formControlName="HoraFin">
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Instructor</label>
                                        <div class="col-8">

                                            <ng-select 
                                            [items]="Instructores"
                                            bindLabel="nombre_completo"
                                            bindValue="ins_id"
                                            class="text-dark"
                                            formControlName="instructor"
                                            placeholder="Selecciona un instructor"
                                            [searchable]="true">
                                          </ng-select>
                                          
                                           
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Estado</label>
                                        <div class="col-8">
                                            <select class="form-control" formControlName="estado">
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                               
                                            </select>
                                        </div>
                                    </div>

                
                                <div class="modal-footer">
                                    <button type="submit" *ngIf="frmClase.valid" class="btn btn-danger btn-block">Guardar</button>
                                </div>
                                </div>
                            </form>

                        </div>
                        
                      </div>
                    </div>
                  </div>


                <table class="table table-sm table-hover table-bordered text-light">
                    <thead>
                        <tr class="table-primary text-center">
                            <th class="text-white"></th>
                            <th class="text-white">Nombre de clases</th>
                            <th class="text-white">Descripcion</th>
                            <th class="text-white">Dia</th>
                            <th class="text-white">Instructor</th>
                            <th class="text-white">Hora Inicio</th>
                            <th class="text-white">Hora Fin</th>
                            <th class="text-white">Estado</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cla of list" class="text-center {{getDayInfo(cla.clas_dia).class}}">
                            <td>
                                <button (click)="InfoEdit(cla)" data-toggle="modal" [attr.data-target]="'#edit' + cla.clas_id"  type="button" class="btn btn-success btn-sm"  title="Editar" >
                           <i class="fas fa-pencil-alt"></i>
                        </button>

                        <div class="modal fade" [id]="'edit' + cla.clas_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title text-danger text-center" id="exampleModalLabel">Editar {{ cla.clas_nombre }}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="frmClase" (ngSubmit)="EditClase(cla.clas_id)">
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white ">Nombre</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" formControlName="nombre">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Descripcion</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control " formControlName="descripcion">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Dia de la semana</label>
                                                <div class="col-8">
                                                    <select class="form-control" formControlName="dia">
                                                        <option value="1">Lunes</option>
                                                        <option value="2">Martes</option>
                                                        <option value="3">Miercoles</option>
                                                        <option value="4">Jueves</option>
                                                        <option value="5">Viernes</option>
                                                        <option value="6">Sabado</option>
                                                        <option value="7">Domingo</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Hora inicial</label>
                                                <div class="col-8">
                                                    <input type="time" class="form-control" formControlName="HoraInicio">
                                                </div>
                                            </div>
                                            
                        
                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Hora Finasssl</label>
                                                <div class="col-8">
                                                    <input type="time" class="form-control" formControlName="HoraFin">
                                                </div>
                                            </div>
                        
                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Instructor</label>
                                                <div class="col-8">
        
                                                 
                                                    <ng-select 
                                                    [items]="Instructores"
                                                    bindLabel="nombre_completo"
                                                    bindValue="ins_id"
                                                    class="text-dark"
                                                    formControlName="instructor"
                                                    placeholder="Selecciona un instructor"
                                                    [searchable]="true">
                                                </ng-select>
                                           
                                                   
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Estado</label>
                                                <div class="col-8">
                                                    <select class="form-control" formControlName="estado">
                                                        <option value="1">Activo</option>
                                                        <option value="0">Inactivo</option>
                                                       
                                                    </select>
                                                </div>
                                            </div>
                        
                                        <div class="modal-footer">
                                            <button type="submit" *ngIf="frmClase.valid" class="btn btn-danger btn-block">Guardar</button>
                                        </div>
                                        </div>
                                    </form>
        
                                </div>
                              
                              </div>
                            </div>
                          </div>

                          <button (click)="DeleteClase(cla.clas_id,cla.clas_fk_sede)"   type="button" class="btn btn-danger btn-sm"  title="Eliminar" >
                            <i class="fas fa-close"></i>
                         </button>
                                
                   
                            </td>
                            
                            <td >{{cla.clas_nombre}}</td>
                            <td >{{cla.clas_descripcion}}</td>
                            <td >{{getDayInfo(cla.clas_dia).dia}}</td>
                            <td >{{ nameInstructor(cla.clas_fk_instructor) }}</td>
                            <td >{{cla.hora_inicio}}</td>
                            <td >{{cla.hora_fin}}</td>
                            <td *ngIf="cla.estado == 0">Inactivo</td>
                            <td  *ngIf="cla.estado == 1">Activo</td>
                          
                        </tr>
                    </tbody>
                </table>
            </ng-container>

          
        </div>
    </div>
</div>
