table td,
th,
thead {
    border-color: #a8a8a8;
    border-width: 1px;
}

table thead th {
    border-color: #a8a8a8;
    border-width: 1px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #32383e;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media only screen and (min-width: 700px) {
    #content {
        background: url("../../../../assets/img/fondo-transp.png") !important;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.bg-lunes {
    background-color: #D6F0FF; /* Azul pastel claro */
    color: #2E2E2E; /* Gris oscuro para buena legibilidad */
}

.bg-lunes:hover {
    background-color: #D6F0FF; /* Sin cambios */
    color: #2E2E2E;
}

.bg-martes {
    background-color: #B3E5FC; /* Azul pastel medio */
    color: #2E2E2E;
}

.bg-martes:hover {
    background-color: #B3E5FC; /* Sin cambios */
    color: #2E2E2E;
}

.bg-miercoles {
    background-color: #A5D6FA; /* Azul-verde pastel */
    color: #2E2E2E;
}

.bg-miercoles:hover {
    background-color: #A5D6FA; /* Sin cambios */
    color: #2E2E2E;
}

.bg-jueves {
    background-color: #C8E6C9; /* Verde pastel claro */
    color: #2E2E2E;
}

.bg-jueves:hover {
    background-color: #C8E6C9; /* Sin cambios */
    color: #2E2E2E;
}

.bg-viernes {
    background-color: #A5D6A7; /* Verde pastel medio */
    color: #2E2E2E;
}

.bg-viernes:hover {
    background-color: #A5D6A7; /* Sin cambios */
    color: #2E2E2E;
}

.bg-sabado {
    background-color: #81C784; /* Verde pastel más intenso */
    color: #2E2E2E;
}

.bg-sabado:hover {
    background-color: #81C784; /* Sin cambios */
    color: #2E2E2E;
}

.bg-domingo {
    background-color: #66BB6A; /* Verde sólido pastel */
    color: #2E2E2E;
}

.bg-domingo:hover {
    background-color: #66BB6A; /* Sin cambios */
    color: #2E2E2E;
}
