<app-menu></app-menu>
<div class="container-fluid">
    <div class="row justify-content-center" id="content">
        <div class="col-12">
            <h1 class="text-center text-danger">Listado de clases</h1>
            <ng-container>
                <button type="button" data-toggle="modal" data-target="#frmSede" class="btn btn-danger m-2" data-toggle="modal" data-target="#newClase">Nueva clase</button>

                <div class="modal fade" id="newClase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-danger" id="exampleModalLabel">Nueva Clase</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                            <form [formGroup]="frmClase" (ngSubmit)="crearClase()">
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white ">Nombre</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" formControlName="nombre">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Descripcion</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control " formControlName="descripcion">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Fecha inicial</label>
                                        <div class="col-8">
                                            <input type="date" class="form-control" formControlName="fInicial">
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Fecha Final</label>
                                        <div class="col-8">
                                            <input type="date" class="form-control" formControlName="fFinal">
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label for="" class="form-label col-4 text-white">Instructor</label>
                                        <div class="col-8">

                                            <ng-select [items]="Instructores" 
                                            bindLabel="nombre" 
                                            bindValue="id" 
                                            formControlName="instructor"
                                            placeholder="Selecciona un instructor"
                                            [searchable]="true">
                                 </ng-select>
                                           
                                        </div>
                                    </div>
                
                                <div class="modal-footer">
                                    <button type="submit" *ngIf="frmClase.valid" class="btn btn-danger btn-block">Guardar</button>
                                </div>
                                </div>
                            </form>

                        </div>
                        
                      </div>
                    </div>
                  </div>


                <table class="table table-sm table-hover table-bordered text-light">
                    <thead>
                        <tr class="table-primary text-center">
                            <th class="text-white"></th>
                            <th class="text-white">Nombre de clases</th>
                            <th class="text-white">Instructor</th>
                            <th class="text-white">Fecha Inicio</th>
                            <th class="text-white">Fecha Fin</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cla of list">
                            <td>
                                <button (click)="InfoEdit(cla)" data-toggle="modal" [attr.data-target]="'#edit' + cla.clas_id"  type="button" class="btn btn-success btn-sm"  title="Editar" >
                           <i class="fas fa-pencil-alt"></i>
                        </button>

                        <div class="modal fade" [id]="'edit' + cla.clas_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">{{ cla.clas_nombre }}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="frmClase" (ngSubmit)="EditClase(cla.clas_id)">
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white ">Nombre</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" formControlName="nombre">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Descripcion</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control " formControlName="descripcion">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Fecha inicial</label>
                                                <div class="col-8">
                                                    <input type="date" class="form-control" formControlName="fInicial">
                                                </div>
                                            </div>
                        
                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Fecha Final</label>
                                                <div class="col-8">
                                                    <input type="date" class="form-control" formControlName="fFinal">
                                                </div>
                                            </div>
                        
                                            <div class="form-group row">
                                                <label for="" class="form-label col-4 text-white">Instructor</label>
                                                <div class="col-8">
        
                                                    <ng-select [items]="Instructores" 
                                                    bindLabel="nombre" 
                                                    bindValue="id" 
                                                    formControlName="instructor"
                                                    placeholder="Selecciona un instructor"
                                                    [searchable]="true">
                                         </ng-select>
                                                   
                                                </div>
                                            </div>
                        
                                        <div class="modal-footer">
                                            <button type="submit" *ngIf="frmClase.valid" class="btn btn-danger btn-block">Guardar</button>
                                        </div>
                                        </div>
                                    </form>
        
                                </div>
                              
                              </div>
                            </div>
                          </div>

                          <button (click)="DeleteClase(cla.clas_id,cla.clas_fk_sede)"   type="button" class="btn btn-danger btn-sm"  title="Eliminar" >
                            <i class="fas fa-close"></i>
                         </button>
                                
                   
                            </td>
                            
                            <td class="text-white">{{cla.clas_nombre}}</td>
                            <td class="text-white">{{ nameInstructor(cla.clas_fk_instructor) }}</td>
                            <td class="text-white">{{cla.fecha_inicio}}</td>
                            <td class="text-white">{{cla.fecha_fin}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>

          
        </div>
    </div>
</div>
