#content {
    margin-top: 5%;
    height: 200%;
    background-repeat: no-repeat;
    background: url("../../../assets/img/fondo-transp.png") no-repeat center center fixed;
}

.no_car {
    margin-top: 30%;
}