<app-header></app-header> 

<!--Header Component-->
<app-header></app-header>
<div class="container-fluid bg-dark d-inline-block" style="padding-top: 130px" id="content">
  <div class="row">
    <ng-container *ngFor="let item of list; index as i;">
      <div class="col-md-3 mb-4"> <!-- Utilizamos col-md-3 para ocupar 1/4 del ancho en pantallas medianas y grandes -->
        <div class="card">
          <h5 class="text-danger m-3 text-center">{{ this.nameGim }}</h5>
          <img [src]="pathImg + item.sed_foto1" class="card-img-top car_cur">
          <div class="card-body">
            <h5 class="card-title text_title text-danger text-center">{{ item.sed_nombre | slice:0:40 }} ...</h5>
          </div>
          <div class="card-footer">
            <a class="text_title" (click)="verMas(item.sed_id)"><h2 class="text-right text-danger">Ver Sede</h2></a>
          </div>
        </div>
      </div>
      <!-- Agregamos un div adicional para que se muestren cuatro tarjetas por fila -->
      <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div> <!-- w-100 para hacer un salto de línea en Bootstrap -->
    </ng-container>
  </div>
</div>
