.menu-fix {
    background-color: transparent; /* Fondo transparente */
    position: fixed; /* Esto asegura que se mantenga en una posición fija */
    top: 0; /* Alineación desde la parte superior */
    right: 0; /* Alineación desde el lado derecho */
    z-index: 9999; /* Para asegurarse de que esté encima de otros elementos */
}

.menu-fix .btn {
    background-color: rgba(255, 0, 0, 0.7); /* Fondo rojo semitransparente */
    color: white; /* Color del texto blanco */
    border: none; /* Quitar bordes */
    box-shadow: none; /* Sin sombra */
}

.menu-fix .btn:hover {
    background-color: rgba(255, 0, 0, 1); /* Fondo rojo opaco en hover */
}
